      .pageTitle{
        padding: 35px;
      }
      h3{
        padding: 5px;
        font-size: 25px;
      }
    
      .cadastrar-btn {        
        color: rgb(75, 75, 78);
        margin-bottom: 8px;        
      }
     

    mat-table {
      width: 100%;
    
      mat-header-cell {
        font-weight: bold;
        padding: 12px;
      }
    
      mat-cell {
        display: flex;
        align-items: left;
        justify-content: left;
        padding: 12px;
    
        button {
          margin: 8px;          
        }        
      }

      
    }
    