.regiao-cadastro-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    
    .form-control{
      max-width: 300px;
    }
    .form-select{
      max-width: 300px;
    }

    .btn{
      margin: 5px;
    }